* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Noto Serif', serif;

}

#search input {
    width: 140px;
    height: 30px;
}

.button {
    width: 80px;
    height: 37px;
    background-color: grey;
    color: white;
}

.button:hover {
    background-color: rgb(53, 52, 52);
    color: white;
}

.card {
    margin-top: 20px;
}

/* contact page''''''''''''''''''''''''''''''''' */

.contact-form {
    display:relative;
    background-color: rgba(179, 229, 213, 0.625);
    margin-top: 90px;
    /* margin: auto; */
    padding: 50px;
    border: 2px solid rgb(87, 212, 112);
    border-radius: 10px;
    width: 100%;
    
}

.contact-form button {
    width: 100%;
    margin-left: 125px;
}

/* about page''''''''''''''''''''''''''''''' */

.aboutpage {
    width: 70%;
    margin-top: 90px;
}

.Requiredparaincontactform {
    color: red;
    font-size: 10px;
}

.navbar {
    height: 50px;
    opacity: .9;
}

.firstsec {
    height: 50vh;
}

.imgheight {
    height: 50vh;
}

.innerdiv {
    height: 100%;
}
